.dhpmaindiv {
  width: 100%;
}
.dhptitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
  height: calc(30px + 5vw);
}
.dhptitleleft {
  display: flex;
  align-items: center;
  height: calc(10px + 2vw);
  color: rgb(22, 29, 111);
  font-size: calc(10px + 1vw);
  font-weight: bold;
}
.dhptitleright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: calc(5px + 1vw);
  color: rgb(22, 29, 111);
}
.dhptitleright div {
  display: flex;
  align-items: center;
  height: calc(25px + 1vw);
  padding-left: 1vw;
  padding-right: 1vw;
}
.dhptitleright div:hover {
  background-color: rgb(22, 29, 111, 0.1);
  cursor: pointer;
}
.dhpadditem {
  outline: none;
  border: none;
  height: calc(10px + 2vw);
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: calc(10px + 0.5vw);
  background-color: rgb(22, 29, 111);
  color: rgb(152, 222, 217);
}
.dhpadditem:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.dhpnewitemdiv {
  width: 100%;
  padding: 1vw;
  background-image: url("./images/charityimage11.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.dhpproductdetails {
  display: grid;
  align-items: center;
  gap: 1.5vw;
  padding: 2vw;
  border: 2px solid rgb(22, 29, 111);
  background-color: rgb(22, 29, 111, 0.5);
  box-shadow: 5px 8px 15px 0 rgba(0, 0, 0, 0.1),
    5px 8px 20px 0 rgba(0, 0, 0, 0.1);
}
.dhpproductdetails label {
  font-weight: bold;
  font-size: calc(10px + 0.5vw);
  color: white;
}
.dhpproductdetails input,
.dhpproductdetails select {
  -webkit-appearance: none;
  width: calc(300px + 5vw);
  height: calc(20px + 2vw);
  outline: none;
  border: 2px solid rgb(22, 29, 111);
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: calc(10px + 0.5vw);
  padding-left: 1vw;
  padding-right: 1vw;
}
.dhpproductdetails input:focus {
  background-color: rgba(152, 222, 217, 0.3);
}
.dhpaddimages {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2vw;
  overflow-x: scroll;
}
.dhpaddbutton {
  height: calc(50px + 2vw);
  width: calc(50px + 2vw);
  border: 2px dashed rgb(22, 29, 111);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vw);
  color: rgb(22, 29, 111);
}
.dhpaddbutton:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
}
.dhpimages {
  height: calc(200px + 7vw);
  max-width: 90%;
  padding: 1vw;
  background-color: rgb(22, 29, 111, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
.dhpimagecontainer {
  display: flex;
  align-items: center;
  height: calc(200px + 5vw);
  max-width: 100%;
  gap: 2vw;
  overflow-x: scroll;
}
.dhpuploadedimage {
  height: 100%;
}
.dhpnewitemstatus {
  width: 100%;
  height: calc(10px + 1vw);
  display: flex;
  align-items: center;
}
.dhpnewitemstatus p {
  font-size: calc(10px + 0.5vw);
  color: orange;
  font-weight: bold;
}
.dhpnewitemfooter {
  height: calc(30px + 3vw);
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
}
.dhpnewitemfooter button {
  outline: none;
  border: none;
  height: calc(25px + 1vw);
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: calc(10px + 0.5vw);
  background-color: rgb(22, 29, 111);
  color: rgba(152, 222, 217);
  transition-duration: 0.2s;
}
.dhpnewitemfooter button:hover {
  transform: scale(1.1);
}

.dhploading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100px + 10vw);
}
.dhpstartdonating {
  width: 100vw;
  /* height: 40vw; */
  /* background-image: url("./images/charityimage12.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; */
  display: flex;
  align-items: top;
  justify-content: center;
}
.dhpstartdonating div {
  width: 98%;
  background-color: rgb(22, 29, 111);
  color: white;
  padding: 2vw;
  /* border-radius: 1vw; */
}
.dhpstartdonating div h3 {
  font-size: calc(10px + 2vw);
}
.dhpdonateditems {
  width: 100%;
  padding: 1vw;
}
.dhpdonateditemsheader {
  height: calc(20px + 2vw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
.dhpdonateditemsheader p {
  color: rgb(22, 29, 111, 0.4);
  font-size: calc(7px + 0.5vw);
}
.dhpdonateditemscontainer {
  display: grid;
  gap: 2%;
  grid-template-columns: 49% 49%;
}
.dhpitem {
  border: 2px solid rgb(152, 222, 217, 0.5);
  transition-duration: 0.3s;
}
.dhpproductimagesdiv {
  height: calc(200px + 5vw);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  gap: 2vw;
  padding: 1vw;
}
.dhpproductimagesdiv img {
  height: 100%;
}
.dhpitemfooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1vw;
  background-color: rgba(152, 222, 217, 0.1);
}
.dhpitemname {
  font-size: calc(5px + 1vw);
  color: rgb(22, 29, 111);
  font-weight: bold;
}
.dhpitemaddress {
  font-size: calc(5px + 0.75vw);
  color: rgb(22, 29, 111, 0.5);
}
.dhpitemrequests {
  display: flex;
  align-items: center;
  width: 15%;
}
.dhpitemrequests p {
  font-size: calc(5px + 0.75vw);
  color: rgb(22, 29, 111, 0.5);
}
.dhpitemrequests span {
  font-size: calc(10px + 2vw);
  color: rgb(22, 29, 111);
}
.dhpprofile {
  width: 100%;
  padding: 2vw;
  color: White;
  display: grid;
  gap: 1vw;
}
.dhpgreeting {
  display: flex;
  align-items: center;
  height: calc(10px + 1vw);
  font-size: calc(10px + 0.5vw);
}
.dhpprofilename {
  display: flex;
  align-items: center;
  height: calc(10px + 3vw);
  font-size: calc(10px + 1vw);
  font-weight: bold;
}

/*SINGLE ITEM*/
.dhpsingleitem {
  width: 100%;
  /* border: 0.2vw solid rgb(152, 222, 217); */
  display: grid;
  align-items: top;
  grid-template-columns: 100%;
}
.dhpsingleitemheader {
  width: 100%;
  height: calc(50px + 1vw);
  /* border: 2px solid black; */
  background-color: rgba(209, 209, 209, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.2s;
  padding: 1vw;
}
.dhpsingleclosePNG {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dhpsingleclosePNG:hover {
  cursor: pointer;
}
.dhpsingleclosePNG img {
  height: calc(5px + 1vw);
}
.dhpsingleclosePNG p {
  color: rgb(4, 0, 154);
  font-size: calc(7px + 0.5vw);
}
.dhpsingleitembody {
  width: 100%;
  display: flex;
  align-items: top;
}
.dhpsingleprdctimgdiv {
  height: calc(300px + 10vw);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}
.dhpsingleprdctimgcontainer {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  gap: 2vw;
}
.dhpsingleprdctimgcontainer img {
  height: 100%;
}
.dhpsingleitemright {
  width: 50%;
  height: fit-content;
  max-height: 100%;
  padding: 1vw;
  display: grid;
  gap: 2vw;
  /* border: 0.15vw solid rgb(4, 0, 154); */
}
.dhpsingleitemdetails {
  height: calc(20px + 1vw);
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  /* background-color: rgb(4, 0, 154, 0.1); */
  /* border: 0.15vw solid rgb(4, 0, 154); */
  overflow: visible;
}
.dhpsingleitemdetails div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.dhpsingleaddressvalue {
  padding: 1vw;
  font-size: calc(10px + 0.5vw);
  /* color: rgb(22, 29, 111, 0.5); */
  /* color: rgb(152, 222, 217); */
  /* color: #c0fefc; */
  /* font-weight: 1000; */
  color: rgb(4, 0, 154);
  /* background-color: rgb(152, 222, 217, 0.2); */
}
.dhpsingleaddress {
  font-weight: bold;
  color: rgb(152, 222, 217);
  height: calc(10px + 2vw);
  padding: 0.5vw;
  background-color: rgb(152, 222, 217, 0.5);
}
.dhpsingleitemname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: calc(10px + 1vw);
  /* font-weight: 1000; */
  /* color: rgb(22, 29, 111); */
  /* color: rgb(152, 222, 217); */
  /* color: #c0fefc; */
  color: rgb(4, 0, 154);
}
.dhpsingleproductrequests {
  display: grid;
  gap: 1vw;
}
.dhpnorequests {
  padding-left: 2vw;
  padding-right: 2vw;
  color: #04009a;
  font-size: calc(5px + 0.75vw);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dhprequestdiv {
  display: grid;
  gap: 1vw;
  overflow-y: scroll;
  scrollbar-width: 2px;
}
.dhpsinglerequest {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border: 2px solid rgb(230, 230, 230);
  padding-left: 1vw;
  padding-right: 1vw;
  /* border: 2px solid black; */
}
.dhpsinglerequest p {
  font-size: calc(5px + 0.75vw);
  color: rgb(4, 0, 154);
}
.dhpsingledoneeoptions {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.dhpsingledoneeoptions button {
  outline: none;
  border: none;
  height: calc(20px + 1vw);
  font-size: calc(10px + 0.5vw);
  padding-left: 1vw;
  padding-right: 1vw;
}
.dhpsinglerequest button:hover {
  cursor: pointer;
}
.dhpdoneeviewprofile {
  background: none;
}
.dhpdoneeviewprofile:hover {
  text-decoration: underline;
}
.dhpdoneeaccept {
  background-color: #04009a;
  color: rgb(152, 222, 217);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.dhpdoneeprofile {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dhpdoneeprofilecontainer {
  height: 80%;
  width: 80%;
  background-color: white;
  padding: 1vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
.dhpdoneenameheader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(20px + 2vw);
}
.dhpdoneename {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(20px + 2vw);
}
.dhpdoneename p {
  font-size: calc(10px + 1vw);
  color: #04009a;
  font-weight: bold;
}
.dhpdoneenamesmall {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dhpdoneenamesmall img {
  height: calc(10px + 2vw);
}
.dhpdoneebody {
  display: flex;
  align-items: center;
  width: 100%;
  height: 90%;
}
.dhpdoneebodyleft {
  width: 50%;
  height: 80%;
  /* padding-top: 2vw; */
  padding-left: 2vw;
  display: grid;
  gap: 1vw;
  height: calc(300px + 10vw);
}
.dhpdoneebodyright {
  width: 50%;
  height: calc(300px + 10vw);
  padding: 1vw;
}
.dhpdoneecertificate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: scroll;
  gap: calc(10px + 2vw);
}
.dhpdoneecertificate img {
  width: 100%;
}
.dhpdoneeinfo {
  display: flex;
  align-items: center;
}
.dhpdoneeinfo div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dhpdoneedetailhead {
  color: rgb(103, 199, 193);
  background-color: rgb(152, 222, 217, 0.1);
  padding-left: 1vw;
  padding-right: 1vw;
  height: calc(10px + 1vw);
  width: fit-content;
  font-size: calc(7px + 0.5vw);
}
.dhpdoneeprofilelabel {
  width: 25%;
  font-size: calc(10px + 0.5vw);
  /* color: rgb(4, 0, 154); */
  /* font-weight: bold; */
  /* border: 2px solid black; */
}
.dhpdoneeprofilevalue {
  width: fit-content;
  font-size: calc(10px + 0.5vw);
  color: rgb(4, 0, 154);
  height: calc(20px + 2vw);
}
.dhpdoneephoneemail {
  display: flex;
  align-items: center;
  gap: 1vw;
  height: calc(20px + 2vw);
}
.dhpcopyPNG {
  height: calc(10px + 1vw);
}
.dhpaccdonee {
  /* border: 2px solid black; */
  display: grid;
  gap: 1vw;
}
.dhpaccrequestheader {
  background-color: rgb(152, 222, 217, 0.1);
  height: calc(10px + 1vw);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(152, 222, 217);
  font-weight: bold;
}
.dhpaccdoneedetailheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw;
}

.dhpaccdoneedetails button {
  height: calc(20px + 1vw);
  outline: none;
  border: none;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: calc(10px + 0.5vw);
  transition-duration: 0.5s;
  background-color: #04009a;
  color: rgb(152, 222, 217);
}
.dhpaccdoneename {
  font-size: calc(5px + 1vw);
  font-weight: bold;
  color: rgb(4, 0, 154);
}
.dhpaccdoneeemailphone {
  color: #04009a;
  display: grid;
  gap: 1vw;
  padding: 1vw;
}
.dhpaccdoneeemail,
.dhpaccdoneephone {
  display: flex;
  align-items: center;
}
.dhpacclabel {
  width: 20%;
  color: rgb(152, 222, 217);
  height: calc(10px + 1vw);
  display: flex;
  align-items: center;
}

.dhpdeleteitem {
  height: calc(20px + 4vw);
  display: flex;
  align-items: center;
  padding: 1vw;
}
.dhpdeleteitem button {
  border: none;
  outline: none;
  height: calc(20px + 1vw);
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: calc(7px + 0.5vw);
  background-color: #f54748;
  color: white;
  font-weight: bold;
}
.dhpdeleteitem button:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
}
